apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: openshift-devspaces-instance
  annotations:
    argocd.argoproj.io/sync-wave: "3"
    argocd.argoproj.io/compare-options: IgnoreExtraneous
  labels:
    gitops.ownedBy: default
spec:
  destination:
    namespace: openshift-gitops
    server: https://kubernetes.default.svc
  project: default
  source:
    path: gitops/manifests/operators/openshift-devspaces-operator/instance/base
    repoURL: https://github.com/sa-ne/gitops-tekton-demo.git
    targetRevision: main
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
